@model BuyTicket.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmHakkinda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmHakkinda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmBaslamaSaati1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmBaslamaSaati1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmBaslamaSaati2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmBaslamaSaati2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmBaslamaSaati3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmBaslamaSaati3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmFotografi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmFotografi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmKategorisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmKategorisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmUcreti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmUcreti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinema.SinemaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetmen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yonetmen.YonetmenAdSoyad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FilmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
