@model IEnumerable<BuyTicket.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmHakkinda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmBaslamaSaati1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmBaslamaSaati2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmBaslamaSaati3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmFotografi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmKategorisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmUcreti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yonetmen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmHakkinda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmBaslamaSaati1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmBaslamaSaati2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmBaslamaSaati3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmFotografi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmKategorisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmUcreti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinema.SinemaAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yonetmen.YonetmenAdSoyad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FilmId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FilmId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FilmId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
